<h1> Welcome! <h1>

<%= flash[:notice] %>

<form action='/bookmarks'>
  <input type='submit' value='View Bookmarks'/>
</form>

<form action='/create-bookmarks'>
  <input type='submit' value='Create Bookmark'/>
</form>
